<div class="container">
  <div class="card text-center">
    <div class="card-header">Updated manager</div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Name</label>
          <input
            [(ngModel)]="manager.name"
            name="name"
            [formControl]="name"
            required
            type="text"
            class="form-control"
            id="name"
            placeholder="Manager name"
            maxlength="50"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            [(ngModel)]="manager.email"
            name="email"
            [formControl]="email"
            required
            type="text"
            class="form-control"
            id="email"
            placeholder="name@email.com"
          />
        </div>
        <div class="mb-3">
          <label for="number" class="form-label">Phone Number</label>
          <input
            [(ngModel)]="manager.phoneNumber"
            name="phoneNumber"
            [formControl]="phoneNumber"
            required
            type="text"
            class="form-control"
            id="number"
            placeholder="+16037685402"
          />
        </div>
      </form>
      <button
        (click)="update()"
        [disabled]="!validForm()"
        class="btn btn-outline-success create"
      >
        Update
      </button>

      <button routerLink="../../" class="btn btn-outline-success cancel">
        Cancel
      </button>
    </div>
  </div>
</div>
