<div class="container">
  <div class="card text-center">
    <div class="card-header">View order</div>
    <div class="card-body">
      <form class="row g-3">
        <div class="col-md-12">
          <label for="inputHeadline" class="form-label">Headline</label>
          <input
            [disabled]="true"
            [(ngModel)]="order.headline"
            name="headline"
            type="email"
            class="form-control"
            id="inputHeadline"
            placeholder="Headline..."
          />
        </div>
        <div class="col-md-6">
          <label for="inputManager" class="form-label">Manager</label>
          <select
            [disabled]="true"
            [(ngModel)]="order.nameManager"
            name="manager"
            id="inputManager"
            class="form-select form-control"
          >
            <option>
              {{ order.nameManager }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputDispatcher" class="form-label">Dispatcher</label>
          <select
            [disabled]="true"
            [(ngModel)]="order.nameDispatcher"
            name="dispatcher"
            id="inputDispatcher"
            class="form-select form-control"
          >
            <option>
              {{ order.nameDispatcher }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputPriority" class="form-label">Priority</label>
          <select
            [disabled]="true"
            [(ngModel)]="order.priority"
            name="priority"
            id="inputPriority"
            class="form-select form-control"
          >
            <option value="0">LOW</option>
            <option value="1">MEDIUM</option>
            <option value="2">HIGH</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputStatus" class="form-label">Status</label>
          <select
            [disabled]="true"
            [(ngModel)]="order.status"
            name="status"
            id="inputStatus"
            class="form-select form-control"
          >
            <option value="0">OPEN</option>
            <option value="1">PROCESSING</option>
            <option value="2">DISPATCHED</option>
          </select>
        </div>
        <div class="col-md-8">
          <label for="inputClineName" class="form-label">Client name</label>
          <input
            [disabled]="true"
            [(ngModel)]="order.clientName"
            name="clientName"
            type="text"
            class="form-control"
            id="inputClineName"
            placeholder="John Doe"
          />
        </div>
        <div class="col-md-4">
          <label for="inputZip" class="form-label">Zip</label>
          <input
            [disabled]="true"
            [(ngModel)]="order.clientZip"
            name="clientCity"
            type="text"
            class="form-control"
            id="inputCity"
            placeholder="Danbury"
          />
        </div>
        <div class="col-md-8">
          <label for="inputAddress" class="form-label">Address</label>
          <input
            [disabled]="true"
            [(ngModel)]="order.clientAddress"
            name="clientAddress"
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
          />
        </div>

        <div class="col-md-4">
          <label for="inputCity" class="form-label">City</label>
          <input
            [disabled]="true"
            [(ngModel)]="order.clientCity"
            name="clientCity"
            type="text"
            class="form-control"
            id="inputCity"
            placeholder="Danbury"
          />
        </div>

        <div class="mb-3">
          <label for="inputDescription" class="form-label">Description</label>
          <textarea
            [disabled]="true"
            [(ngModel)]="order.description"
            name="description"
            class="form-control"
            id="inputDescription"
            rows="6"
            placeholder="Enter Description"
          ></textarea>
        </div>
      </form>

      <button routerLink="../../" class="btn btn-outline-success cancel">
        Cancel
      </button>
    </div>
  </div>
</div>
