<div class="container">
  <div class="infos">
    <button
      type="button"
      routerLink="create"
      class="btn btn-outline-success create"
    >
      New Manager
    </button>
  </div>

  <div class="manager-table">
    <table class="content-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let manager of managers | async">
          <td>{{ manager.name }}</td>
          <td>{{ manager.email }}</td>
          <td>{{ manager.phoneNumber }}</td>
          <td>
            <a routerLink="#"
              ><fa-icon class="icons-edit" [icon]="faUserPen"></fa-icon
            ></a>
            <a routerLink=""
              ><fa-icon class="icons-delete" [icon]="faUserMinus"></fa-icon
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
