.logo-img {
  padding: 20px;
  text-align: center;
}

.nav {
  background-color: var(--primary-color);
  border-radius: 0.5rem;

  a {
    color: var(--white);
    &:hover {
      color: grey;
    }

    .icons {
      margin: 10px;
    }
  }
}
