.btn-color {
  background-color: #03693e;
  color: #fff;
  &:hover {
    background-color: #03693e;
    color: #ccc;
  }
}

.profile-image-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color {
  background-color: #ebf2fa;
}

a {
  text-decoration: none;
}
