<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card my-5">
        <form class="card-body p-lg-5">
          <div class="text-center">
            <img src="assets/img/logo-wbp.svg" class="img-logo" alt="profile" />
          </div>

          <div class="mb-3">
            <input
              [formControl]="name"
              required
              [(ngModel)]="creds.name"
              name="name"
              matInput
              placeholder="Name"
              type="text"
              class="form-control"
              id="Username"
            />
          </div>
          <div class="mb-3">
            <input
              [formControl]="password"
              required
              [(ngModel)]="creds.password"
              name="password"
              type="password"
              matInput
              placeholder="Password"
              type="password"
              class="form-control"
              id="password"
            />
          </div>
          <div class="text-center">
            <button
              (click)="login()"
              [disabled]="!validForms()"
              type="submit"
              class="btn btn-color w-100"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
