:host {
  .content-grid {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    gap: 0px;
    height: 100%;
  }

  #item-0 {
    background-color: var(--white);
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 7;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
}
