.card {
  margin: 10px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  .card-header {
    border: 0px solid var(--primary-color);
  }

  .form-control {
    border-radius: 8px;
    border: 1px solid var(--primary-color);
  }

  .create {
    width: 100%;
    margin: 10px 0;
    color: var(--white);
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--white);
      color: var(--primary-color);
    }
  }

  .cancel {
    width: 100%;
    margin: 10px 0;
  }
}

ngb-pagination ::ng-deep a {
  color: black !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem var(--primary-color);
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem var(--primary-color);
}
