<div class="container">
  <div class="infos">
    <button
      type="button"
      routerLink="create"
      class="btn btn-outline-success create"
    >
      New Dispatcher
    </button>
  </div>

  <div class="dispatcher-table">
    <table class="content-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dispatcher of dispatchers | async">
          <td>{{ dispatcher.name }}</td>
          <td>-----</td>
          <td>-----</td>
          <td>
            <a routerLink="update/{{ dispatcher.id }}"
              ><fa-icon class="icons-edit" [icon]="faUserPen"></fa-icon
            ></a>
            <a routerLink="delete/{{ dispatcher.id }}"
              ><fa-icon class="icons-delete" [icon]="faUserMinus"></fa-icon
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
