@use "./config-scss/variables.scss";
@use "./config-scss/reset.scss";

* {
  background-color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
}

main {
  width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
