<div class="container">
  <div class="infos">
    <button type="button" class="btn btn-outline-success create">
      New Manager
    </button>
  </div>

  <div class="manager-table">
    <table class="content-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">E-mail</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let manager of managers | async">
          <td>{{ manager.name }}</td>
          <td>{{ manager.email }}</td>
          <td>{{ manager.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
